<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" ng-app="helloApp">
 <!-- html page is attached to helloApp -->

<head>
	<!-- the following is standard html stuff -->
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Hello AngularJS - Hello World</title>

	<!-- add angular and material stylesheets via CDN -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

	<!-- Angular Material Dependencies -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>

	<!-- angular material icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >

	<!-- angular material itself -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

	<!-- add our own script(s) -->
	<script type="text/javascript" src="app.js"></script>

    <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="column">

  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
      </md-button>
      <h1>HelloAngular</h1>
    </div>
  </md-toolbar>

  <div layout="row" flex>

<!-- this div is controlled by PatchesController -->
<div  layout="column" flex ng-controller="PatchesController as Ctrl">
  <md-divider >
<h1>Patches</h1>
  <md-divider >
<md-list layout="column">
  <md-list-item class="md-2-line" ng-repeat="patch in Ctrl.patches.patches">
    <div class="md-list-item-text">
      {{patch.name}} : <i>{{patch.path}}</i>
    </div>
  </md-list-item>
</md-list>
  <md-divider >
</div>

<!-- this div is controlled by ModulesController -->
<div layout="column" flex ng-controller="ModulesController as Ctrl">
  <md-divider >
<h1>Modules</h1>
  <md-divider >
<md-list class="md-theme-indigo">
  <md-list-item class="md-2-line" ng-repeat="module in Ctrl.modules.modules">
    <div class="md-list-item-text">
      {{module.name}} : <i>{{module.type}}</i>
      <h3>Connectors</h3>
      <p ng-repeat="connector in module.connectors">
        {{connector.name}}
        <i>{{connector.type}} {{connector.mode}}</i>
      </p>
      <h3>Parameters</h3>
    </div>
  </md-list-item>
</md-list>
  <md-divider >
</div>

<!-- another div -->
<div layout="column" flex layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>My App's Title</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button>
        Right Bar Button
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    Hello!
  </md-content>
</div>

</div>

</body>
